<div class="row">

    <div class="span10">

        <h2>Cursos</h2>

    </div>

</div>

<div class="row">

    <div class="span10">

        <table class="table table-bordered table-hover">

            <tr>

                <th>Codigo</th>

                <th>Curso</th>

                <th>Instrutor</th>

            </tr>

            <tr ng-repeat="curso in cursos">

                <td>{{curso.codigo}}</td>

                <td>{{curso.nome}}</td>

                <td>{{curso.instrutor}}</td>

            </tr>

        </table>

    </div>

</div>



