<div class="row">

    <div class="span10">

        <h2>Alunos</h2>

    </div>

</div>

<div class="row">

    <div class="span10">

        <table class="table table-bordered table-hover">

            <tr>

                <th>Codigo</th>

                <th>Nome</th>

                <th>Email</th>

            </tr>

            <tr ng-repeat="aluno in alunos">

                <td>{{aluno.codigo}}</td>

                <td>{{aluno.nome}}</td>

                <td>{{aluno.email}}</td>

            </tr>

        </table>

    </div>

</div>




